.head_text{
    color: #ffffff;
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
    padding: 1rem 0 1.5rem;
}

.card_section{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.card_item{
    width: 250px;
    padding: 0.5rem;
}

.card{
    background-color: #2A2D3E;
    box-shadow: 0 3px 6px #2a2d3e5d;
    border-radius: 10px;
    overflow: hidden;
}

.card_header{
    position: relative;
}
.card_icons{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2121219d;
    opacity: 0;
    transition: opacity 300ms;
}
.card_icons:hover{
    opacity: 1;
}
.card_img{
    width: 100%;
    height: 200px;
    position: relative;
}
.card_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card_body{
    padding: 1rem 1rem;
}

.card_title{
    margin-top: 0;
    color: #ffffff;
}
.card_desc{
    color: #f0f0f0aa;
}

.card_topics{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.card_topic{
    display: inline-block;
    background-color: #35394d;
    border-radius: 5px;
    color: #ffffff;
    padding: 0.3rem 0.7rem 0.5rem;
    margin: 0.3rem;
}
.card_topic:nth-child(1){
    margin-left: 0;
}

@media (max-width: 576px) {
    .card_section{
        flex-direction: column;
    }
    .card_item{
        width: 94%;
    }
    .head_text{
        font-size: 1.5rem;
    }
}

@media (min-width: 577px) and (max-width: 795px) {
    .card_item{
        width: 50%;
    }
}

@media (min-width: 796px) and (max-width: 1200px) {
    .card_item{
        width: 33.33333%;
    }
}
@media (min-width: 1201px){
    .card_item{
        width: 25%;
    }
}