.modal_container{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    background-color: #21212150;
    transition: all 300ms;
}
.modal_container.open{
    visibility: visible;
    opacity: 1;
    z-index: 200;
}
.modal{
    position: fixed;
    padding: 0 0.75rem 1rem;
    width: 550px;
    height: calc(80vh - 40px);
    background-color: #2A2D3E;
    color: #ffffff;
    border-radius: 15px;
    overflow-y: hidden;
    visibility: hidden;
    transform: translateY(-30px);
    opacity: 0;
    transition: all 300ms;
}
.modal.open{
    visibility: visible;
    transform: translateY(0);
    opacity: 1;
}

.modal_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0.5rem;
}
.modal_header button,
.modal_title{
    margin: 0;
}

.modal_body{
    padding: 1rem 0.75rem;
    height: calc(80vh - 145px);
    overflow-y: auto;
}
.modal_body::-webkit-scrollbar{
    width: 0.5rem;
}
.modal_body::-webkit-scrollbar-thumb{
    background-color: #4d5372;
    box-shadow: 0 3px 6px #4d537277;
    border-radius: 10px;
}

@media (max-width: 576px) {
    .modal_container{
        background-color: transparent;
    }
    .modal{
        width: 100vw;
        height: 100vh;
    }
    .modal_body{
        height: 100%;
    }
}
