.modal_container{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 200;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #21212150;
}

.modal{
    padding: 1rem;
    width: 45vw;
    height: calc(70vh - 50px);
    background-color: #2A2D3E;
    border-radius: 15px;
    box-shadow: 0 3px 6px #2a2d3e5d;
    overflow-y: hidden;
}

.modal_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    padding: 1rem 0.5rem;
}
.modal_header button,
.modal_title{
    margin: 0;
}

.modal_body{
    padding: 1rem 0.75rem;
    height: calc(70vh - 140px);
    overflow-y: auto;
}
.modal_body::-webkit-scrollbar{
    width: 0.5rem;
}
.modal_body::-webkit-scrollbar-thumb{
    background-color: #4d5372;
    box-shadow: 0 3px 6px #4d537277;
    border-radius: 10px;
}