.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2A2D3E;
    padding: 1rem 1.5rem;
    box-shadow: 0 3px 6px #2a2d3e5d;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.navbar_logo{
    color: #ffffff;
    font-weight: 700;
    font-size: 1.5rem;
}

.nav_icons{
    display: flex;
    align-items: center;
    color: #ffffff;
}

.nav_button{
    position: relative;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    background-color: transparent;
    border: none;
    margin: 0.6rem ;
    color: #ffffff;
    cursor: pointer;
}
.nav_button::before{
    content: ' ';
    position: absolute;
    top: -7px;
    left: -1.75px;
    width: 45px;
    height: 45px;
    background-color: #aaaaaa75;
    z-index: 2;
    border-radius: 50%;
    transform: scale(0);
    transition: transform 0.3s;
}
.nav_button:hover::before{
    transform: scale(1);
}
.nav_button svg{
    width: 30px;
    position: relative;
    z-index: 100;
}