.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0 3px 6px #2a2d3e5d;
    background-color: #2A2D3E;
    color: #ffffff;
}

.navbar_logo{
    font-weight: 700;
    font-size: 1.5rem;
}

.nav_icons{
    display: flex;
    align-items: center;
}

@media (max-width: 576px){
    .navbar_logo{
        font-size: 1.2rem;
    }
}
