.text_light{
    color: #ffffff;
}

.btn_icon{
    position: relative;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    background-color: transparent;
    border: none;
    margin: 0.6rem ;
    cursor: pointer;
}
.btn_icon::before{
    content: ' ';
    position: absolute;
    top: -7px;
    left: -1.75px;
    width: 40px;
    height: 40px;
    background-color: #ababab44;
    z-index: 2;
    border-radius: 50%;
    transform: scale(0);
    transition: transform 0.3s;
}
.btn_icon:hover::before{
    transform: scale(1);
}
.btn_icon svg{
    width: 25px;
    position: relative;
    z-index: 100;
}

.form_input{
    margin: 0.5rem 0;
    padding: 1rem 1.15rem;
    width: 100%;
    background-color: transparent;
    color: #ffffff;
    border: 1px solid #4d5372;
    border-radius: 10px;
}
.form_input::placeholder{
    color: #4d5372;
}

.imageupload_label input[type="file"]{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    display: none;
}
.imageupload_section{
    width: 100%;
    border: 2px dashed #4d5372;
    margin-bottom: 1rem;
    color: #ffffff;
    text-align: center;
    padding: 1.5rem 0;
}
.imageupload_section svg{
    width: 50px;
}
.imageupload_section p{
    margin-bottom: 0;
}

.btn_blue{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    overflow: hidden;
    position: relative;
    background-color: #2979FF;
    width: 100%;
    border: 1px solid #2979FF !important;
    padding: 1rem;
    border-radius: 10px;
    color: #ffffff;
    font-size: 1.2rem;
}
.btn_red {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    overflow: hidden;
    position: relative;
    background-color: #e74c3c;
    width: 100%;
    border: 1px solid #e74c3c;
    padding: 1rem;
    border-radius: 10px;
    color: #ffffff;
    font-size: 1.2rem;
}
.btn_blue__outline{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    overflow: hidden;
    position: relative;
    background-color: transparent;
    border: 1px solid #2979FF;
    width: 100%;
    padding: 1rem;
    border-radius: 10px;
    color: #2979FF;
    transition: all 300ms;
    font-size: 1.2rem;
}
.btn_red__outline {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    overflow: hidden;
    position: relative;
    background-color: transparent;
    border: 1px solid #e74c3c;
    width: 100%;
    padding: 1rem;
    border-radius: 10px;
    color: #e74c3c;
    transition: all 300ms;
    font-size: 1.2rem;
}

.btn_blue::after,
.btn_red::after{
    content: ' ';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-top-right-radius: 50%;
    transition: all 300ms;
    background-color: #ffffff44;
}

.btn_blue:hover::after,
.btn_red:hover::after{
    width: calc(100% + 100px);
    height: calc(100% + 100px);
}
.btn_blue__outline:hover {
    background-color: #2979FF;
    color: #ffffff;
}
.btn_red__outline:hover {
    background-color: #e74c3c;
    color: #ffffff;
}