:root{
  --background-dark: #2A2D3E;
  --background-dark-body: #212332;
  --text-dark: #ffffff;
  --background-light: #ffffff;
  --background-light-body: #f5f5f5;
  --text-light: #212121;
}

.app-light .navbar,
.app-light .footer{
  background-color: var(--background-light);
  color: var(--text-light);
}
.app-light svg{
  color: var(--text-light);
}
.app-light .app_container{
  background-color: var(--background-light-body);
}
.app-light .modal{
  background-color: var(--background-light);
  color: var(--text-light);
}

.app-dark .navbar{
  background-color: var(--background-dark);
  color: var(--text-dark);
}
.app-dark svg{
  color: var(--text-dark);
}
.app-dark .app_container{
  background-color: var(--background-dark-body);
}
